* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url(./assets/fonts/HelveticaNeueThin.woff2)format("woff2");
}

:root {
    --div-display: flex;
    --title-padding: 1.5rem;
    --title-font-size: 1.3rem;

    --form-background-color: #ffffff;
    --wallpaper-background-color: #8fcf8f;
    --text-color: #6e6b6b;
    --row-gap: 7em;
    --column-gap: 12em;

    --padding: 1.8em;
    --letter-spacing: 0.5ch;

    --label-margin-bottom: -10px;
    --label-padding: 10px;

    --border-style: transparent;
    --border-color: #a79494;

    --input-tip-first: "Ex: Marley";
    --input-tip-last: "Ex: Anderson";
    --input-tip-email: "example1@gmail.com";
    --input-tip-phone: "123-456-7890";

    --warning-opacity: 0;
    --warning-pass-symbol: url(./assets/img/crossmark.jpg);

    font-family: "Helvetica Neue", sans-serif;
}

:root.dark {
    --form-background-color: #000000;
    --text-color: #ffffff;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-flow: row wrap;
}

/* Wallpaper Section */

.wallpaper-container {
    --letter-spacing: 0.2ch;

    background-color: var(--wallpaper-background-color);
    flex: 2;
    display: flex;
    flex-flow: column wrap;
}

.wallpaper-container h1,
.wallpaper-container h3 {
    letter-spacing: var(--letter-spacing);
}

.wallpaper-container h3 {
    text-align: center;
    margin-top: auto;
    padding-bottom: 1.5rem;
}

/* Form Section */

.form-container {
    display: var(--div-display);
    flex: 3;
    justify-content: center;
    align-items: center;
}

form {
    position: relative;
    flex-direction: column;
    align-items: center;
    display: var(--div-display);
    gap: var(--row-gap) var(--column-gap);
    padding: calc(var(--padding) + 5px);
}

div.input-container {
    display: var(--div-display);
    flex-wrap: wrap;
    gap: inherit;
    justify-content: center;
}

div.form-col-1,
div.form-col-2 {
    flex-direction: column;
    display: var(--div-display);
    row-gap: var(--row-gap);
}

h1 {
    padding: var(--padding);
}

h3 {
    --letter-spacing: 0.3ch;

    padding: var(--title-padding);
    font-size: var(--title-font-size);
    letter-spacing: var(--letter-spacing);

}

/* Form Inputs Section */

form > h3 {
    --title-font-size: 2.7rem;
    --title-padding: 5rem;

    padding: var(--title-padding) 0 0 0;
}

input {
    width: 300px;
    height: 35px;
    appearance: none;
    -webkit-appearance: none;
    padding: 10px;
    font-size: 1.1rem;
    outline: none;
    border-radius: 6px;
    border: transparent;
    border-bottom: 1px solid var(--border-color);
    transition: border 0.6s;
}

input:not(:placeholder-shown),
input:focus {
    --border-style: 1px solid var(--border-color);
    --border-color: #000000;

    border-top: var(--border-style);
    border-left: var(--border-style);
    border-right: var(--border-style);
}

label {
    position: absolute;
    user-select: none;
    text-align: center;
    border-radius: 3px;
    cursor: text;
    padding: var(--label-padding);
    margin-bottom: var(--label-margin-bottom);
    letter-spacing: var(--letter-spacing);
    background-color: var(--label-background-color);
    margin-left: var(--label-margin-left);
    font-size: var(--font-size);
    font-weight: var(--label-font-weight);
    transition: all 0.3s;
}

label:has(+ input:not(:placeholder-shown)),
div:focus-within > label {
    --label-margin-bottom: 0px;
    --label-padding: 0.3rem 0.6rem;
    --label-background-color: lightgreen;
    --label-margin-left: 6px;
    --font-size: 0.85rem;
    --label-font-weight: bold;

    transform: translateY(-1.35em);
}

/* If input is empty and isn't type "tel" */
div:not(:focus-within) > 
label:has(+ input:placeholder-shown):not([for="phone"])::before {
    position: absolute;
    left: -5px;
    content: "*";
}

/* Form Validation Section */

label:has(+ input:not(:placeholder-shown):not(:focus):invalid) {
    --label-background-color: #ee4e4e;
}

/* Form Warning Section */

.input-warning {
    position: absolute;
    margin-top: 0.8rem;
    letter-spacing: calc(var(--letter-spacing) - 0.21em);
    opacity: var(--warning-opacity);

    transition: opacity 0.5s ease;
}

.input-warning.pass {
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
    font-size: 0.9rem;
}

input:focus + .input-warning.pass,
input:not(:placeholder-shown):invalid + .input-warning {
    --warning-opacity: 1;
}

.input-warning.pass > div::before {
    display: inline-block;
    content: '';
    background-image: var(--warning-pass-symbol);
    background-size: 1em;
    margin-right: 0.3em;
    width: 1em;
    height: 1em;
}

.input-warning:not(.pass)::before {
    --warning-pass-symbol: url(./assets/img/warning-sign.png);

    display: inline-block;
    content: '';
    background-image: var(--warning-pass-symbol);
    background-size: 1em;
    margin-right: 0.3em;
    margin-bottom: -1px;
    width: 1em;
    height: 1em;
}

/* Form Input Tip Section */

.form-col-1 > div,
.form-col-2 > div {
    position: relative;
}

div.input-tip {
    --letter-spacing: 0.15ch;
    --font-size: 1.1rem;
    --margin-bottom: 2.45rem;
    --margin-right: 0.8rem;
    --text-wrap: nowrap;
    --tip-opacity: 0;
    --transition-input-tip: opacity 0s;
    --transition-delay: 0;

    position: absolute;
    display: inline-block;
    width: 100%;
    margin-right: var(--margin-right);
    max-width: min-content;
    text-wrap: var(--text-wrap);
    opacity: var(--tip-opacity);
    font-size: var(--font-size);
    letter-spacing: var(--letter-spacing);
    color: var(--text-color);
    right: 0;
    bottom: var(--margin-bottom);
}

div.input-tip.active:not(.block) {
    --tip-opacity: 1;
    --transition-input-tip: opacity 0.8s;
    --transition-delay: 5s;

    overflow: hidden;
    white-space: nowrap;

    animation-name: translate-text, typing;
    animation-duration: 12s, 6s;
    animation-iteration-count: infinite, infinite;
    animation-direction: normal, alternate;
    animation-timing-function: linear, linear;
    animation-delay: 9s, 9s;

    transition: var(--transition-input-tip);
    transition-delay: var(--transition-delay);
}

div.input-tip:has(~ input:valid:required),
div.input-tip:has(~ input:not(:placeholder-shown):valid:optional) {
    --tip-opacity: 0;
    --transition-input-tip: opacity 0s;
    --transition-delay: 0;
}

@keyframes translate-text {
    1% { transform: translateX(3px); }
    2% { transform: translateX(0px); }
    4% { transform: translateX(3px); }
    5% { transform: translateX(0px); }
}

@keyframes typing { 
    70% { width: 100%; }
    100% { width: 0; }
}

div.input-tip.first::after {
    content: attr(data-after);
}

div.input-tip.last::after {
    content: attr(data-after);
}

div.input-tip.email::after {
    content: attr(data-after);
}

div.input-tip.phone::after {
    content: attr(data-after);
}