* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url(./assets/fonts/HelveticaNeueThin.woff2)format("woff2");
}

:root {
    --div-display: flex;
    --title-padding: 1.5rem;
    --title-font-size: 1.3rem;
    --title-color: #000000;

    --theme-background-color: #ffffff;
    --wallpaper-background-color: #8fcf8f;
    --input-tip-text-color: #6e6b6b;
    --text-color: #000000;
    --row-gap: 6.5em;
    --column-gap: 12em;

    --padding: 1.8em;
    --letter-spacing: 0.5ch;

    --label-margin-bottom: -10px;
    --label-padding: 10px;
    --label-background-color: #90ee90;
    --label-color: #000000;
    --label-font-weight: bold;

    --border-style: transparent;
    --border-color: #000000;

    --input-tip-first: "Ex: Marley";
    --input-tip-last: "Ex: Anderson";
    --input-tip-email: "example1@gmail.com";
    --input-tip-phone: "123-456-7890";

    --warning-opacity: 0;
    --warning-pass-symbol: url(./assets/img/crossmark.png);

    font-family: "Helvetica Neue", sans-serif;
}

:root.dark {
    --theme-background-color: #000000;
    --border-color: #ffffff;
    --title-color: #ffffff;
    --label-color: #ffffff;
    --text-color: #ffffff;
    --label-background-color: #335533;
    --input-tip-text-color: #cfc7c7;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-flow: row wrap;
}

.form-container {
    position: relative;
}

/* Image Display Section */ 

.wallpaper-container {
    background-image: url(./assets/img/night-var-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    border-right: 4px solid black;
    color: white;
}

/* Theme Mode Section */

.theme-mode {
    --background-hover-night: #776f6f; 
    --background-hover-day: #dad3d3;

    display: flex;
    position: relative;
    height: auto;
    background-color: var(--theme-background-color);
    padding: 0;
    margin-top: 3rem;
    margin-bottom: 1rem;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 2px solid #808080;

    transition: background-color 0.3s ease;
}

.form-container {
    flex-direction: column;
}

.theme-mode:hover {
    background-color: var(--background-hover-day);
}

.theme-mode.dark:hover {
    background-color: var(--background-hover-night);
}

.theme-mode > img {
    position: absolute;
    width: 70%;
    opacity: var(--theme-opacity);

    transition: opacity 0.5s ease;
}

img.night-mode {
    --theme-opacity: 0;
}

img.day-mode {
    --theme-opacity: 1;
}

/* Wallpaper Section */

.wallpaper-container {
    --letter-spacing: 0.2ch;

    background-color: var(--wallpaper-background-color);
    flex: 2;
    display: flex;
    flex-flow: column wrap;
}

.wallpaper-container h3 {
    text-align: center;
    margin-top: auto;
    padding-bottom: 1.5rem;
}

/* Form Section */

.form-container {
    display: var(--div-display);
    background-color: var(--theme-background-color);
    flex: 3;
    justify-content: center;
    align-items: center;
}

form {
    justify-content: center;
    position: relative;
    flex-direction: column;
    align-items: center;
    display: var(--div-display);
    gap: var(--row-gap) var(--column-gap);
    padding: calc(var(--padding) + 5px);
}

div.input-container {
    display: var(--div-display);
    flex-wrap: wrap;
    gap: inherit;
    justify-content: center;
}

div.form-col-1,
div.form-col-2 {
    flex-direction: column;
    display: var(--div-display);
    row-gap: calc(var(--row-gap) + 1.8rem);
}

h1 {
    padding: 4rem 1rem;
    width: 100%;
    font-size: 4.7rem;
    text-align: center;
    text-shadow: 2px 2px #d4d4d4;
    letter-spacing: var(--letter-spacing);
}

h3 {
    --letter-spacing: 0.3ch;

    padding: var(--title-padding);
    font-size: var(--title-font-size);
    letter-spacing: var(--letter-spacing);
    color: var(--title-color);
}

/* Form Inputs Section */

form > h3 {
    --title-font-size: 2.7rem;
    --title-padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5ch 1ch;
}

form > h3 span {
    text-wrap: nowrap;
    width: fit-content;
}

input {
    --border-style: 1px solid var(--border-color);
    --letter-spacing: 0.15rem;

    width: 300px;
    height: 35px;
    appearance: none;
    -webkit-appearance: none;
    padding: 10px;
    font-size: 1.1rem;
    outline: none;
    border-radius: 6px;
    border: transparent;
    border-bottom: var(--border-style);
    transition: border 0.6s;
    background-color: var(--theme-background-color);
    color: var(--text-color);
    letter-spacing: var(--letter-spacing);
}

input:not(:placeholder-shown),
input:focus {
    border-top: var(--border-style);
    border-left: var(--border-style);
    border-right: var(--border-style);
}

label {
    position: absolute;
    user-select: none;
    text-align: center;
    border-radius: 3px;
    cursor: text;
    padding: var(--label-padding);
    margin-bottom: var(--label-margin-bottom);
    letter-spacing: var(--letter-spacing);
    margin-left: var(--label-margin-left);
    font-size: var(--font-size);
    font-weight: var(--label-font-weight);
    color: var(--label-color);
    transition: all 0.3s;
}

label:has(+ input:not(:placeholder-shown)),
div:focus-within > label {
    --label-margin-bottom: 0px;
    --label-padding: 0.3rem 0.6rem;
    --label-margin-left: 6px;
    --font-size: 0.85rem;
    
    background-color: var(--label-background-color);
    transform: translateY(-1.35em);
    font-weight: bold;
}

/* If input is empty and isn't type "tel" */
div:not(:focus-within) > 
label:has(+ input:placeholder-shown):not([for="phone"])::before {
    position: absolute;
    left: -5px;
    content: "*";
}

/* Form Validation Section */

label:has(+ input:not(:placeholder-shown):not(:focus):invalid) {
    --label-background-color: #c75b5b;
}

/* Form Warning Section */

.input-warning {
    position: absolute;
    margin-top: 0.8rem;
    letter-spacing: calc(var(--letter-spacing) - 0.16em);
    opacity: var(--warning-opacity);
    color: var(--text-color);

    transition: opacity 0.5s ease;
}

.input-warning.pass {
    --warning-pass-lower: var(--warning-pass-symbol);
    --warning-pass-upper: var(--warning-pass-symbol);
    --warning-pass-num: var(--warning-pass-symbol);
    --warning-pass-special-char: var(--warning-pass-symbol);
    --warning-pass-min-chars: var(--warning-pass-symbol);

    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
    font-size: 0.9rem;
}

input:focus + .input-warning.pass,
input:not(:placeholder-shown):invalid + .input-warning {
    --warning-opacity: 1;
}

.input-warning.pass > div::before {
    display: inline-block;
    content: '';
    background-size: 1em;
    margin-right: 0.3em;
    width: 1em;
    height: 1em;
}

.input-warning.pass .min-8-chars::before {
    background-image: var(--warning-pass-min-chars);
}

.input-warning.pass .lower::before {
    background-image: var(--warning-pass-lower);
}

.input-warning.pass .upper::before {
    background-image: var(--warning-pass-upper);
}

.input-warning.pass .num::before {
    background-image: var(--warning-pass-num);
}

.input-warning.pass .special-char::before {
    background-image: var(--warning-pass-special-char);
}

.input-warning:not(.pass)::before {
    --warning-pass-symbol: url(./assets/img/warning-sign.png);

    display: inline-block;
    content: '';
    background-image: var(--warning-pass-symbol);
    background-size: 1em;
    margin-right: 0.3em;
    margin-bottom: -1px;
    width: 1em;
    height: 1em;
}

/* Form Input Tip Section */

.form-col-1 > div,
.form-col-2 > div {
    position: relative;
}

div.input-tip {
    --letter-spacing: 0.15ch;
    --font-size: 1.1rem;
    --margin-bottom: 2.45rem;
    --margin-right: 0.8rem;
    --text-wrap: nowrap;
    --tip-opacity: 0;
    --transition-input-tip: opacity 0s;
    --transition-delay: 0;

    position: absolute;
    display: inline-block;
    width: 100%;
    margin-right: var(--margin-right);
    max-width: min-content;
    text-wrap: var(--text-wrap);
    opacity: var(--tip-opacity);
    font-size: var(--font-size);
    letter-spacing: var(--letter-spacing);
    color: var(--input-tip-text-color);
    right: 0;
    bottom: var(--margin-bottom);
}

div.input-tip.active:not(.block) {
    --tip-opacity: 1;
    --transition-input-tip: opacity 0.8s;
    --transition-delay: 5s;

    overflow: hidden;
    white-space: nowrap;

    animation-name: translate-text, typing;
    animation-duration: 12s, 6s;
    animation-iteration-count: infinite, infinite;
    animation-direction: normal, alternate;
    animation-timing-function: linear, linear;
    animation-delay: 9s, 9s;

    transition: var(--transition-input-tip);
    transition-delay: var(--transition-delay);
}

div.input-tip:has(~ input:valid:required),
div.input-tip:has(~ input:not(:placeholder-shown):valid:optional) {
    --tip-opacity: 0;
    --transition-input-tip: opacity 0s;
    --transition-delay: 0;
}

@keyframes translate-text {
    1% { transform: translateX(3px); }
    2% { transform: translateX(0px); }
    4% { transform: translateX(3px); }
    5% { transform: translateX(0px); }
}

@keyframes typing { 
    70% { width: 100%; }
    100% { width: 0; }
}

div.input-tip.first::after {
    content: attr(data-after);
}

div.input-tip.last::after {
    content: attr(data-after);
}

div.input-tip.email::after {
    content: attr(data-after);
}

div.input-tip.phone::after {
    content: attr(data-after);
}

/* Submit Button Section */

button[type="submit"] {
    position: relative;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem;
    border: 0;
    border-radius: 10px;
    color: white;
    letter-spacing: var(--letter-spacing);
    text-align: center;
    text-decoration: none;
    width: fit-content;
    margin-bottom: 3.5rem;

    text-transform: uppercase;
    background: var(--submit-btn-bg-color, #505050);
    transform-style: preserve-3d;

    transition: background-color 0.25s ease, transform 0.35s ease;
}

button[type="submit"]::before {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    position: absolute;
    background-color: #b8b2b2;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0.6em, -1em);
    box-shadow: 0 0 0 2px rgb(68, 68, 68), 0 0.3em 3px 4px rgb(219, 219, 219);

    transition: transform 0.3s ease;
}

button[type="submit"]:hover {
    --submit-btn-bg-color: #636363;

    transform: translate3d(0, 0.15em, -1em);

    transition: transform 0.2s ease;
}

button[type="submit"]:hover::before {
    transform: translate3d(0, 0.45em, -1em);

    transition: transform 0.2s ease;
}

button[type="submit"]:active {
    transform: translate3d(0, 0.6em, 0);

    transition: transform 0.2s ease;
}

button[type="submit"]:active::before {
    transform: translate3d(0, 0, -1em);

    transition: transform 0.2s ease;
}

@media only screen and (max-width: 375px) {
    form {
        padding: 1rem;
    }
}

@media only screen and (max-width: 641px) {
    .wallpaper-container {
        border: none;
    }
}