* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --form-background-color: white;
    --text-color: black;
    --wallpaper-background-color: green;
    --padding: 0.9em;
}

:root.dark {
    --form-background-color: black;
    --text-color: white;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
}

.wallpaper-container {
    background-color: var(--wallpaper-background-color);
    flex: 1;
    display: flex;
    flex-flow: column wrap;
}

/* Form Section */

.form-container {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    position: relative;
    display: flex;
    column-gap: 10em;
    flex-flow: row wrap;
    row-gap: 2em;
    justify-content: center;
}

form > div {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

h1 {
    padding: var(--padding);
}

h3 {
    justify-self: flex-end;
    margin-top: auto;
    align-self: center;
    padding: 1.5rem;
    font-size: 1.3rem;
}

/* Form Inputs Section */

input {
    width: 300px;
    height: 35px;
    appearance: none;
}

form > h3 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin-top: -3em;
    font-size: 2.7rem;
    text-align: center;
}

label {
    position: absolute;
    text-align: center;
}

form > div > div {
    display: flex;
    align-items: center;
}

label {
    padding: 10px;
    transition: all .4s;
    cursor: text;
}

form > div > div:focus-within > label {
    border-radius: 3px;
    margin-left: 6px;
    font-size: 0.9rem;
    padding: 0.15em 0.3em;
    background-color: green;
    transform: translateY(-1.3em);
}